.aside {
  position: relative;
  height: 6rem;
  border-top-left-radius: 1.5625rem;
  width: 100%;
  border-top-right-radius: 1.5625rem;
  box-shadow: 0px 1px 8px 0px #0000001a;
  background-color: #ffffff;
}
.asideContent {
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 19.5625rem;
}
.asideBlock {
  width: 4.5rem;
  display: flex;
  justify-content: space-between;
}
.close {
  all: unset;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 0.625rem;
  height: 0.625rem;
}
.select,
.save {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}
.active {
  background: linear-gradient(
    230.09deg,
    #2bd1ff -50.42%,
    #34b8ff 33.26%,
    #229cfd 113.78%
  ) !important;
}
.save {
  padding: 5.5px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #dcdcdc;
}
